* {
    box-sizing: border-box;
}
.profilePhotos {
    width: 100%;
    justify-content: center;
}
#coverPhoto {
    width: 98%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding-top: 10px;
}
#profilePhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: -75px;
    border: 4px solid #eef2e6;
    vertical-align: middle;
}
.profile {
    display: flex;
    align-items: center;
}
.profile > span {
    padding-left: 10px;
    font-weight: 800;
    font-size: 20px;
}

.profileContainer {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: 50px;
}
.profileSettings {
    border-right: 3px solid #eef2e6;
    padding: 10px;
    flex: 20%;
}
.addRecipe {
    padding: 10px;
    background-color: #f3f4f2;
    border-radius: 15px;
}
.profileBody {
    padding: 10px;
    flex: 50%;
}
.otherDetails {
    border-left: 3px solid #eef2e6;
    padding: 10px;
    flex: 20%;
}

.add_recipe_form {
    max-width: 100%;
    padding: 20px 12px 10px 20px;
    font: 15px Arial, Helvetica, sans-serif;
}
.add_recipe_form-heading {
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 20px;
    padding-bottom: 3px;
    text-align: center;
    color: green;
}
.add_recipe_form label {
    display: block;
    margin: 0px 0px 15px 0px;
}
.add_recipe_form label > span {
    width: 200px;
    font-weight: 500;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.add_recipe_form input.input-field,
.add_recipe_form .select-field {
    width: 70%;
}
.add_recipe_form input.input-field,
.add_recipe_form .textarea-field,
.add_recipe_form .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: white;
    border: 2px solid white;
    box-shadow: 1px 1px 3px green;
    -moz-box-shadow: 1px 1px 3px green;
    -webkit-box-shadow: 1px 1px 3px green;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 7px;
    outline: none;
}
.add_recipe_form .input-field:focus,
.add_recipe_form .textarea-field:focus,
.add_recipe_form .select-field:focus {
    border: 2px solid green;
}
.add_recipe_form .textarea-field {
    height: 100px;
    width: 70%;
}
