* {
    box-sizing: border-box;
}
.profilePhotos {
    width: 100%;
    justify-content: center;
}
#coverPhoto {
    width: 98%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding-top: 10px;
}
#profilePhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: -75px;
    border: 4px solid #eef2e6;
    vertical-align: middle;
}
.profile {
    display: flex;
    align-items: center;
}
.profile > span {
    padding-left: 10px;
    font-weight: 800;
    font-size: 20px;
}

.profileContainer {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: 50px;
}
.profileSettings {
    border-right: 3px solid #eef2e6;
    padding: 10px;
    flex: 20%;
}
.addRecipe {
    padding: 10px;
    background-color: #f3f4f2;
    border-radius: 15px;
}
.profileBody {
    padding: 10px;
    flex: 50%;
}
.otherDetails {
    border-left: 3px solid #eef2e6;
    padding: 10px;
    flex: 20%;
}

.add_recipe_form {
    max-width: 100%;
    padding: 20px 12px 10px 20px;
    font: 15px Arial, Helvetica, sans-serif;
}
.add_recipe_form-heading {
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 20px;
    padding-bottom: 3px;
    text-align: center;
    color: green;
}
.add_recipe_form label {
    display: block;
    margin: 0px 0px 15px 0px;
}
.add_recipe_form label > span {
    width: 200px;
    font-weight: 500;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.add_recipe_form input.input-field,
.add_recipe_form .select-field {
    width: 70%;
}
.add_recipe_form input.input-field,
.add_recipe_form .textarea-field,
.add_recipe_form .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: white;
    border: 2px solid white;
    box-shadow: 1px 1px 3px green;
    -moz-box-shadow: 1px 1px 3px green;
    -webkit-box-shadow: 1px 1px 3px green;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 7px;
    outline: none;
}
.add_recipe_form .input-field:focus,
.add_recipe_form .textarea-field:focus,
.add_recipe_form .select-field:focus {
    border: 2px solid green;
}
.add_recipe_form .textarea-field {
    height: 100px;
    width: 70%;
}

/* Old Recipes Post - My Recent Posts*/
.oldRecord {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.post_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post_heading span {
    color: green;
}
.post_heading h3 {
    font-size: 2.4rem;
    color: grey;
    font-weight: 600;
}
.post_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.post_box {
    /* width: 350px; */
    background-color: #ffffff;
    border: 1px solid green;
    border: 2px solid white;
    box-shadow: 1px 1px 3px black;
    margin: 20px;
}
.post_img {
    width: 100%;
    height: auto;
}
.post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post_text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.post_text span {
    color: green;
    font-size: 0.9rem;
}
.post_text .post_title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
    text-decoration: none;
}
.post_text .post_title:hover {
    color: green;
    transition: all ease 0.3s;
}
.post_text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.post_text a {
    color: #0f0f0f;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
}
.post_text a:hover {
    color: green;
    transition: all ease 0.3s;
}
@media (max-width: 1250px) {
    .post_box {
        width: 80%;
    }
}
@media (max-width: 1100px) {
    .post_box {
        width: 70%;
    }
}
@media (max-width: 550px) {
    .post_box {
        margin: 20px 10px;
        width: 200px;
    }
    .oldRecord {
        padding: 20px;
    }
}
