@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Roboto+Slab&family=Roboto:wght@100;400;700&display=swap");
@import url("../css/fonts.css");

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    /* margin: 0 10px; */
    height: 100vh;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar .nav-item {
    color: white;
    font-size: 20px;
}
.navbar {
    background-color: #285430;
    height: 80px;
}
.navbar .container-fluid img {
    height: 60px;
    width: 200px;
}
.container-fluid .collapse .navbar-nav .nav-item .nav-link {
    color: white;
}
.btn-search {
    background: #1c6758;
    text-decoration: none;
    color: white;
    padding: 7px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
}
.btn-search:hover {
    background: #3d8361;
    color: white;
}

/* HERO SECTION */
.container {
    height: 100%;
    width: 100%;
    background-color: #eef2e6;
    margin: 30px;
}
.heroArea {
    align-content: center;
    color: white;
}
.heroTitle {
    color: #5f8d4e;
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.heroTitle p {
    margin-top: 50px;
    color: #d6cda4;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.slogan {
    font-size: 50px;
    font-weight: 100;
    color: #5f8d4e;
    font-family: "Lustria", serif;
}
.heroText {
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto Slab", serif;
}

@keyframes fadeInTop {
    from {
        transform: translate3d(0, -20%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        transform: translate3d(-20%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
.fadeInRight {
    -webkit-animation: fadeInRight 2s ease;
    animation: fadeInRight 2s ease;
}

@keyframes fadeInRotate {
    from {
        transform: rotate(-0.5turn);
    }
    to {
        transform: rotate(0turn);
    }
}

.fadeInRotate {
    -webkit-animation: fadeInRotate 2s ease;
    animation: fadeInRotate 2s ease;
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

.fadeInTop {
    -webkit-animation: fadeInTop 2s ease;
    animation: fadeInTop 2s ease;
}

.slideInBottom {
    -webkit-animation: slideInBottom 2s ease;
    animation: slideInBottom 2s ease;
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}
.slideUp {
    -webkit-animation: slideUp 2s ease;
    animation: slideUp 2s ease;
}
